
body
{
    margin:0;
    padding:0;
    box-sizing:content-box;
    background-image: linear-gradient(to right, #e2cdb0,#7b5520 );
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none;
    list-style:none;
}
/* nav
{
    height:70px;
    background-color:#4e341c;
}
nav ul{
    list-style: none;
    float:left;
    margin-left:25px;
}
nav ul li{
    display: inline-block;
    line-height:70px;
    margin:0 15px;
}

nav ul li a{
    
    text-decoration:none;
    color:white;
    position:relative;
    bottom: 25px;   
    margin: 2px;
}
nav ul li a:before{
    position:absolute;
    content: '';
    left:0 ;
    bottom:0;
    height:2px;
    width:100%;
    background:white;
    transform: scaleX(0);
    transform-origin:right;
    transition:transform .4s linear;
}
nav ul li a:hover
{
    color:white;
    

}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin:left;

} */
/* nav img
{
  width:60px;
  position:absolute;
  top:7px;
  right:12%;
  height:60px ;
  border-radius:50% ;
} */
.nav_img h3
{
  float:right;
  position:absolute;
  top:22px;
  right:6%;
  color:white;
  font-size:20px;
  text-decoration:underline;

}
label #btn1
{
  color:aliceblue;
  float:left;
  font-size:30px;
  margin-left:20px;
  cursor: pointer;
  margin-top:5px;
  display:none;
}
label #btn2
{
    color:aliceblue;
    float:left;
    font-size:30px;
    margin-left:20px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}

@media(max-width:950px)
{
    nav img
    {
    right:6%;
    width:50px;
    height:50px;
    }
    .nav_img h3
    {
        display:none;
        
    }
}
@media(max-width:860px)
{
   label #btn1{
       display: block;
       position:absolute;
       top:13px;
   }
   label #btn2{
    display:none;
    position:absolute;
    top:13px;
}

   ul{
       position:fixed;
       width:80%;
       height:100hv;
       background-color:#4d351d;
       top:70px;
       left:-100%;
       text-align:center;
       transition: all .5;
       z-index:1;
       
   }
   nav ul li
   {
       display:block;
       margin:40px 0;
       line-height:20px;
   }
   nav ul li a
   {
     font-size:20px;
     
   }
#check:checked ~ ul
{
    left:0;

}
#check:checked ~ label #btn1
{
    display:none;
}
#check:checked ~ label #btn2
{
    display:block;
}

}

.background_img
{
   margin-bottom:120%;
   margin-left: 120%;
   width:400px;   
}
form
{
position:absolute;
left:7%;
top:25%;
}
.form_header
{
position:absolute;
left:5%;
top:15%;
color:#4d351d;
}

.send_buttons
  {
   /* position:absolute;*/
    left:18%;
    margin-top:20px;
  
  }

label
{
    display: inline-block;
    width: 100%;
    color: #4d351d;
    font-size: 20px;         
}



/* input {
    
    padding: 0.5%; 
    margin: 2%;
    border-radius: 10px;
    border: solid 1px #4d351d;  
  } 
  /*padding: 5px 10px;*/

  input[type=text], input[type=password] , input[type=email], input[type=number] ,input[type=file]{
    width: 75%;
    /* padding: 1%;
    margin: 2%;
    display: inline-block;
    border: solid 1px #4d351d;
    border-radius: 10px;
    background: #ffffff; */
  }
  
  input[type=submit]{
    background: #f5f0df;
    border-radius: 10px;
  }
  


 